
@media only screen and (max-width: 600px) {
	/* smartphones */
	a#responsive_menu {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 0!important;
		background-image: url('../img/design/responsive_menu.png');
	}
	#HEADER, #left, #right {
		display: none;
	}
	#left, main, textarea {
		width: 100%!important;
	}
	article.product {
		width: 95%!important;
	}
	figure#product_image_box img {
		max-width: 100%!important;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
	/* tablets */
	#left {
		width: 24%!important;
	}
	main {
		width: 74%!important;
	}
	#right {
		display: none;
	}
	textarea {
		width: 100%!important;
	}
}

a.category-button, a.button, input.button {
	display: inline-block;
	background-image: linear-gradient(#cccccc, #555555);
	border: 1px solid gray;
	color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

a.category-button:hover, a.button:hover, input.button:hover {
	background-image: linear-gradient(#dddddd, #888888);
	text-decoration: underline;
	border: 1px solid black;
}

body {
	font-family: arial;
}

h1, h2, h3, h4, h5, h6 {
	font-family: verdana;
	font-weight: normal;
	background-color: #dddddd;
	padding: 10px;
	border-radius: 5px;
}

h1 {
	background-color: #bbbbbb;
}

h2 {
	background-color: #cccccc;
}

input {
	font-size: 1em;
}

select.select {
	font-size: 1em;
	width: 250px;
	padding: 5px;
	display: block;
}

textarea {
	width: 500px;
	height: 250px;
	display: block;
	font-size: larger;
}

textarea.comment {
	height: 100px;
}

input.text {
	width: 250px;
	padding: 5px;
}

input.button {
	padding: 5px;
}

label {
	display: block;
	margin-bottom: 10px;
}

label input.text {
	display: block;
}

a {
	color: black;
}

a:hover {
	background-color: #dddddd;
}

a.button {
	padding: 10px;
	background-color: #cccccc;
}

table.cuborder
{
	border-left: 1px solid black;
	border-top: 1px solid black;
}

table.cuborder td
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}

table.cuborder th
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}

form#choose_html_theme {
	display: inline;
	float: left; 
	margin-left: 50px;
	margin-top: 10px;
}

div#print_messages
{
	border: 1px solid #aaaaaa;
	margin: 10px;
}

div#print_messages p.message
{
	color: darkgreen;
	font-weight: bold;
	margin: 5px;
}

div#print_messages p.error
{
	color: red;
	margin: 5px;
}

header#HEADER {
	background-color: #dddddd;
}

img#logo {
	width: 150px;
	height: 75px;
	float: left;
}

header nav ul li {
	float: left;
	list-style-type: none;
	margin: 10px;
}

div#search_box {
	margin: 10px;
	float: right;
}

div#search_box input.search {
	font-size: 1.4em;
	padding: 0px;
}

div#search_box input.button {
	background-image: url('../img/design/search.gif');
	width: 30px;
	height: 30px;
	font-size: 0px;
	margin: 0px;
	vertical-align: bottom;
}

aside#left {
	float: left;
	width: 19%;
	overflow-x: auto;
	margin-right: 1%;
}

nav#categories ul {
	list-style-type: none;
	padding-left: 30px;
}

nav#categories ul li {
	box-shadow: 0px 5px 5px lightgray;
}

nav#categories ul li.nest_level_0 {
	font-size: 1.4em;
}

nav#categories ul li.nest_level_1 {
	font-size: 1.2em;
}

aside#left ul li a {
	display: inline-block;
	padding: 5px;
}

li.selected
{
	background-color: #dddddd;
}

main {
	float: left;
	width: 59%;
}

div.category_box {
	width: 220px;
	float: left;
	text-align: center;
	margin-right: 20px;
}

div.category_box h2 {
	margin-bottom: 0px;
	overflow-x: hidden;
}

div.category_box p.pic {
	width: 220px;
	height: 100px;
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

table#products_list tr.border_top td {
	border-top: 1px solid #aaaaaa;
}

table#products_list h3 {
	margin: 0px;
	padding: 0px;
}

table#products_list p.description {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
}

article.product {
	width: 29%;
	min-width: 180px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 5px;
	float: left;
	border-radius: 5px;
	box-shadow: 0px 0px 10px gray;
}

article.product:hover {
	box-shadow: 0px 0px 10px black;
}

article.product img {
	max-width: 90%;
	height: 150px;
	object-fit: scale-down;
	box-shadow: 0px 0px 5px gray;
	border-radius: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

article.product img:hover {
	box-shadow: 0px 0px 5px black;
}

figure#product_image_box {
	max-width: 400px;
	object-fit: scale-down;
	float: left;
}

ul.actions {
	list-style-type: none;
}

ul.actions li.delete a
{
	background-image: url('../img/icons/delete.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.actions li.move a
{
	background-image: url('../img/icons/move.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.actions li.add_category a
{
	background-image: url('../img/icons/folder_new.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.actions li.add_product a
{
	background-image: url('../img/icons/page_new.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.actions li.up a
{
	background-image: url('../img/icons/up_folder.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.actions li.edit a
{
	background-image: url('../img/icons/edit.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.public_site {
	list-style-type: none;
}

ul.properties {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul#my_addresses_actions {
	border-bottom: 1px solid black;
}

ul#my_addresses_actions li {
	list-style-type: none;
	display: inline;
	margin-right: 20px;
}

ul#my_addresses_actions li.add_new_address {
	background-image: url('../img/icons/page_new.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

ul.properties li {
	margin-bottom: 10px;
}

ul.properties span.value {
	width: 250px;
	padding: 5px;
	display: block;
	background-color: #dddddd;
}

div.comment {
	border: 1px solid #aaaaaa;
	margin-bottom: 1em;
	padding: 10px;
}

div.comment span.username {
	float: left;
	font-weight: bold;
}

div.comment span.date {
	float: right;
	background-color: #dddddd;
}

div.comment span.delete {
	float: right;
}

div.comment span.delete a {
	color: red;
}

div.comment p {
	margin: 0;
	padding: 0;
	margin-left: 100px;
}

aside#right {
	width: 19%;
	float: right;
	font-size: 0.9em;
}

aside#right h3 {
	background-color: #dddddd;
}

div#shopping_cart_box ul {
	list-style-type: none;
}

footer {
	background-color: #aaaaaa;
}

footer nav li {
	float: left;
	list-style-type: none;
	margin: 10px;
}

a#copyleft {
	display: block;
	float: right;
	margin: 10px;
}
